
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 20px;
}

.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #263f37c5;
    transform: translateY(-5px);
}

.logo {
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
}
.logo:hover{
    text-decoration: none;
    color: #263f37c5;
    transform: translateY(-5px);
}

.navbar a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
}
.navbar a:hover{
    color: #263f37c5;
    transform: translateY(-5px);
}

main {
    padding: 20px;
}

#cart {
    margin-top: 40px;
    border: 1px solid #ccc;
    padding: 20px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#cart-total {
    margin-top: 20px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: gray;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
